---
const platform = "github";
const username = "antorrg";
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Contacteme: <a href= {'https://mail.google.com/mail/?tab=rm&ogbl'}><img src="/imgs/contact/email.svg"></a></p>
  <br>
</footer>